In [38]:
import numpy as np
import pandas as pd

In [39]:
x = np.random.rand(23*500,178)
print(x.shape)
x = x.reshape(500, 178*23)
print(x.shape)

(11500, 178)
(500, 4094)

In [40]:
df = pd.DataFrame(np.random.rand(23*500,178))
df['y'] = ''
df.head(2)

,0,1,2,3,4,5,6,7,8,9,...,169,170,171,172,173,174,175,176,177,y
0,0.068416,0.365622,0.673538,0.030998,0.495884,0.545641,0.226375,0.943521,0.134422,0.334103,...,0.691286,0.210212,0.904201,0.123089,0.661473,0.173782,0.939385,0.024906,0.339649,
1,0.584004,0.929924,0.697473,0.329024,0.249071,0.850792,0.539391,0.356462,0.823598,0.249579,...,0.061198,0.495970,0.586769,0.627717,0.551782,0.670428,0.184810,0.275906,0.449154,

In [42]:
df = df.iloc[:, :178]
df.head()

,0,1,2,3,4,5,6,7,8,9,...,168,169,170,171,172,173,174,175,176,177
0,0.068416,0.365622,0.673538,0.030998,0.495884,0.545641,0.226375,0.943521,0.134422,0.334103,...,0.596668,0.691286,0.210212,0.904201,0.123089,0.661473,0.173782,0.939385,0.024906,0.339649
1,0.584004,0.929924,0.697473,0.329024,0.249071,0.850792,0.539391,0.356462,0.823598,0.249579,...,0.911159,0.061198,0.495970,0.586769,0.627717,0.551782,0.670428,0.184810,0.275906,0.449154
2,0.798527,0.684831,0.249367,0.016197,0.421683,0.739676,0.558209,0.233743,0.866047,0.333368,...,0.195859,0.739127,0.086498,0.979750,0.522312,0.924660,0.656104,0.604266,0.971534,0.459001
3,0.415515,0.716587,0.714840,0.905843,0.470655,0.744568,0.545034,0.775587,0.540247,0.444983,...,0.680583,0.176876,0.704854,0.405208,0.276625,0.633055,0.509104,0.248769,0.543187,0.523137
4,0.921498,0.475670,0.744111,0.034980,0.398577,0.181444,0.930692,0.987807,0.205991,0.768669,...,0.028218,0.190166,0.180710,0.241068,0.801253,0.999885,0.867521,0.048773,0.354872,0.718021

In [36]:

df.shape

(11500, 178)

In [46]:
X = np.array(df)
X = X.reshape(500, 178*23)
X.shape

(500, 4094)

In [51]:
x = np.random.rand(3,4)
x

array([[0.18862792, 0.02216596, 0.19664086, 0.48198077],
       [0.79571835, 0.47325292, 0.39409837, 0.15051995],
       [0.94617674, 0.67707526, 0.47702369, 0.21653691]])

In [52]:
x = x.reshape(6,2)
x

array([[0.18862792, 0.02216596],
       [0.19664086, 0.48198077],
       [0.79571835, 0.47325292],
       [0.39409837, 0.15051995],
       [0.94617674, 0.67707526],
       [0.47702369, 0.21653691]])